body{
  background-color: black;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

#img_central{
position: absolute;
width: 1365px;
height: 349px;
left: 0px;
top: 220px;
}

#img_lateral{
position: absolute;
width: 260px;
height: 150px;
left: 24px;
top: 25px;
}

#img_topo{
position: absolute;
width: 723px;
height: 132px;
left: 330px;
top: 23px;
}

#menu{
display: flex;
justify-content: center;
background-color: black;
position: relative;
top: 147px;
}

#menu ul{
max-width: 800px;
margin: 0;
list-style: none;
}

#menu ul li{
display: inline-block;
border: 40px;
padding: 30px;
text-align: center;
}

#menu ul li a{
padding: 10px 30px 10px;
color: white;
text-decoration: none;
transition: background .4s;
font-family: 'Roboto', sans-serif;
border-radius: 6px;
background-color: #282828
}

#menu ul li a:hover{
background-color: black;
}

#menu2{
display: fflex;
list-style: none;
padding: 0;
left: 400px;
}

#menu2 ul{
position: absolute;
left: 1020px;
top: 71px;

}
#menu2 ul li{
display: inline;
}
#menu2 ul li a{
border-right: 1px solid white;
color: white;
display: inline;
text-decoration: none;
padding: 5px;
font-family: 'Roboto', sans-serif;
}

#menu2 ul li a:hover{
color: #282828
}

#produtos-categoria, .imagem-produto img {
    max-width: 100%;
    text-decoration: none;
}
main{
  padding: 500px 15%;
  color: #333;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}
main ul{
  display: grid;
}
.produtos-categoria{
background: #000000;
mix-blend-mode: lighten;
border: 2px solid #FF0000;
box-sizing: border-box;
box-shadow: 4px 4px 4px rgba(255, 0, 0, 0.5);
padding-top: 0;
display: grid;
}
.products-grid row first odd{
  position: absolute;
  left: 10px;
  margin: 0;
  list-style: none;
  padding-left: 40px;
}
.primeiro-item{
  list-style: none;
  padding: 0;
  margin: 0;
}
.etiqueta-preco{
font-size: 12px;
}
.box-preco{
font-family: 'Open Sans', sans-serif;
color: white;
top: 60px;
}
.preco{
  font-size: 20px;
}
.nome-produto a{
  text-decoration: none;
  color: white;
}
.segundo-item{
 list-style: none;
  padding: 0;
  margin: 0;
}
footer {
  background-color: #282828;
  color: white;
  font-family: 'Roboto', sans-serif;
}
footer .footer-content {
  text-align: center;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  padding: 40px 15% 60px;
}
footer section.social ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
  margin: 0;
  padding: 0;
  }
  footer section.social a {
  margin: 15px;
  color: white;
  width: 50px;
  height: 50px;
  display: grid;
  justify-content: center;
  align-content: center;
  text-decoration: none;
}
footer section.social a:hover {
  color: #fff;
  background-color: #555;
}
.pay ul li{
  list-style: none;
  display: inline-block;
  padding: 20px;
}
.pay ul li a{
  color: white;
}
footer section.copyright {
  padding: 15px;
  text-align: center;
  color: white;
}

.imagem-produto{
  opacity: 0.4;
  transition: opacity 1s;
  will-change: opacity;
}

.imagem-produto:hover{
  opacity: 1;
}